<div id="taskList">
  <label for="taskList">Task List</label>
  <ul *ngFor="let task of tasks">
    <li [value]="task" [ngClass]="task.checked ? 'barre' : null" >
      {{task.title}}
      <input type="checkbox"
             [checked]="task.checked"
             (change)="check(task)">
      <button type="button" (click)="delete(task)">-</button>
    </li>
  </ul>
</div>
